%% -*- erlang -*-
{erl_opts, [
            debug_info,
            verbose
           ]}.

{deps, [
        {elixir_full, {ex, "1.17"}},
        {erlang_red_helpers,
         {git, "https://github.com/gorenje/erlang-red-elixir-helpers",
          {tag, "0.1.3"}}},
        {erlang_red_jsonata,
         {git, "https://github.com/gorenje/erlang-red-jsonata", {tag, "0.1.0"}}},
        {erlydtl, "~> 0.14.0"},
        {bbmustache, "~> 1.12.2"},
        {erlexec, "~> 2.2.0"},
        {cowboy, "~> 2.12.0"},
        {mapz, "~> 2.4.0"}
       ]}.

{dialyzer, [
            {plt_extra_apps, [
                              inets,
                              sasl,
                              mapz,
                              erlexec,
                              erlydtl,
                              cowboy,
                              emqtt,
                              bbmustache,
                              cowlib
                             ]}
           ]}.


{plugins, [exerl]}.
{project_plugins, [erlfmt, rebar3_auto, rebar3_ex_doc]}.
{auto, [
        {extra_dirs, [
                      "{src,include,test}/*.{hrl,erl,app.src}",
                      "src/{routes,nodes,servers,exchanges}/*.{hrl,erl,app.src}",
                      "src/{jsonata,managers}/*.{hrl,erl,app.src}",
                      "test/{helpers}/*.{hrl,erl,app.src}",
                      "rebar.config"
                     ]}
       ]}.

{erlfmt, [
          check,
          verbose,
          {print_width, 80},
          {files, [
                   "{src,include,test}/*.{hrl,erl,app.src}",
                   "src/{routes,nodes,servers,exchanges}/*.{hrl,erl,app.src}",
                   "src/{jsonata,managers}/*.{hrl,erl,app.src}",
                   "test/{helpers}/*.{hrl,erl,app.src}",
                   "rebar.config"
                  ]},
          {exclude_files, [
                           "src/erlfmt_parse.erl",
                           "src/jsonata_leex.erl",
                           "src/jsonata_parser.erl"
                          ]}
         ]}.

%% {escript_incl_apps, [erlang_red]}.
%% {escript_main_app, erlang_red}.
%% {escript_name, erlang_red}.
%% {escript_emu_args, "%%! +sbtu +A1\n"}.

{profiles, [
            {test, [
                    {erl_opts, [
                                debug_info,
                                fail_on_warning,
                                verbose,
                                {extra_src_dirs, ["test/helpers"]}
                               ]}
                   ]}
           ]}.
